{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

{% if error == "no" %}
<script>
    alert('Password Changed Successfully');
    window.location = ('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Passwords did not match, Try Again');
</script>
{% endif %}

<style>
    /* Custom CSS for Change Password */
    .container {
        padding: 40px;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-center {
        color: #FF5722;
    }

    .form-control {
        margin-bottom: 15px;
    }

    input[type="password"] {
        border: 1px solid #ccc;
        padding: 8px;
        border-radius: 5px;
        background-color: #f7f7f7;
    }

    input[type="submit"] {
        background-color: #FF5722;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }

    input[type="submit"]:hover {
        background-color: #E64A19;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col sm-6">
            <img src="{% static 'images/changePass.jpg' %}" style="width: 100%; height: 400px;">
        </div>
        <div class="col sm-6">
            <h2 class="text-center">Change Password</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Enter Old Password" name="old">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="new">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm">
                <input type="submit" class="btn btn-danger mt-2" value="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}
